body{
  display: flex;
  min-height: 90vh;
  justify-content: space-evenly;
  align-content: space-around;
  align-items: center;
  background: gainsboro;
  font-family:"courier";
  font-size: 14px;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#setFileName{
  display: flex;
  flex-direction: column;
  width:150px
}
#mainContainer{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  min-width: 100vw;
  margin: 30px;
}
#myCanvas{
  /* margin:70px; */
  display:flex;
  align-self: center;
  /* padding-top: 70px; */
  padding-bottom: 75px;
}
#canvasArea{
  display:flex;
  flex-direction: column;
}
#saveCont{
  display:flex;
  flex-direction:column;
  margin-left: 30px;
  padding-right:50px;
}
#interface{
  margin-left: 75px;
  margin-right: 30px;
}
#canvasButtons{
  display: flex;
  flex-direction: row;
  align-items:center;
}
#gifSlider{
  display: flex;
  flex-direction:row;
}
#sprayRows{
  display:flex;
  flex-direction: row;
}
#lineContainter{
  display:flex;
  flex-direction: row;
  margin-top: 10px;
}
#sprayContainer{
  display:flex;
  flex-direction: row;
  margin-top: 10px;
}
#slideCont{
  display:flex;
  flex-direction:column;
}
#colorOp{
  display:flex;
  flex-direction:row;
  padding-left:499px;
}
#channel{
  padding-top:5px;
}
#channels{
  display: flex;
  flex-direction:column;
  padding-left: 20px;
  padding-top:5px;
  padding-bottom:20px;
}
#redC{
  display: flex;
  flex-direction:column;
  align-items: left;
}
#greenC{
  display: flex;
  flex-direction:column;
  align-items: left;
}
#blueC{
  display: flex;
  flex-direction:column;
  align-items: left;
}
#Hue{
  display: flex;
  flex-direction:row;
  align-items: center;
}
#Saturation{
  display: flex;
  flex-direction:row;
  align-items: center;
}
#Lightness{
  display: flex;
  flex-direction:row;
  align-items: center;
}
#verticalCont{
  display:flex;
  flex-direction: column;
  width:440px;
  height:115px;
  position: absolute;
  /* padding-right: 60px; */
  border-style: none solid none none;
  border-color: #afabaf;
}
#verticalContClr{
  display:flex;
  flex-direction: column;
}
#drawBlend{
  margin-left:20px;
  margin-top:4px;
}
#palette{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-top: 5px;
}
#palette2{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
}
#compressButton{
  border-style: solid none none none;
  border-color: #afabaf;
}
/* #zoom{

} */
